<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>

<%
entities.forEach((vehicle)=>{
    let path = "";
    let firstPoint = null;
%>

<h2><%=vehicle.alias%></h2>
<table style="width:100%">
    <thead>
    <th>lat</th><th>lng</th><th>fecha</th><th>Link</th>
    </thead>
    <tbody>
    <%positions.forEach((p)=>{ if (p.vehicleId.equals(vehicle._id)){
        path += p.lat + "," + p.lng + "|";
        if (!firstPoint){
            firstPoint = {lat:p.lat,lng:p.lng};
        }
    %>
    <tr>
        <td><%=p.lat%></td><td><%=p.lng%></td><td><%=p.createdAt%></td><td><a href="https://maps.google.com?zoom=12&q=<%=p.lat%>,<%=p.lng%>&center=<%=firstPoint.lat%>,<%=firstPoint.lng%>">Enlace</a></td>
    </tr>
    <%}});%>
    </tbody>
</table>

<%if(path){%>
<%path = path.substr(0,path.length -1 );%>

<a href="http://maps.googleapis.com/maps/api/staticmap?zoom=12&path=color:0xff0000ff|weight:5|<%=path%>&size=1920x1080&center=<%=firstPoint.lat%>,<%=firstPoint.lng%>">
    Ampliar
    <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=12&path=color:0xff0000ff|weight:5|<%=path%>&size=600x200&center=<%=firstPoint.lat%>,<%=firstPoint.lng%>" style="width:600px;height: 200px;">
</a>
<%}%>
<%});%>

</body>
</html>